In [2]:
import data_functions

In [3]:
# Load data from a JSON Lines (JSONL) file
train_data = data_functions.load_jsonl('data/restaurant_train.jsonl')
test_data = data_functions.load_jsonl('data/restaurant_test.jsonl')

In [4]:
test_data[1]

{'id': '33070600#670328#0',
 'text': 'I have to say they have one of the fastest delivery times in the city.',
 'aspects': [{'aspect': 'service', 'polarity': 'positive'}]}

In [3]:
len(train_data)

3041

In [4]:
len(test_data)

800

In [5]:
train_data[0]

{'id': '3121',
 'text': 'But the staff was so horrible to us.',
 'aspects': [{'aspect': 'service', 'polarity': 'negative'}]}

In [1]:
test_data[1]

NameError: name 'test_data' is not defined

In [7]:
train_counts_df, train_stacked_counts_df = data_functions.count_aspect_polarity(train_data) # Ignoring the stacked df, we use that to create plots
train_counts_df

          service  food  anecdotes/miscellaneous  price  ambience
negative      218   209                      199    115        98
positive      324   867                      546    179       263
conflict       35    66                       30     17        47
neutral        20    90                      357     10        23

In [8]:
test_counts_df, test_stacked_counts_df = data_functions.count_aspect_polarity(test_data) # Ignoring the stacked df, we use that to create plots
test_counts_df

          food  service  ambience  anecdotes/miscellaneous  price
positive   302      101        76                      127     51
conflict    16        5        13                       15      3
negative    69       63        21                       41     28
neutral     31        3         8                       51      1

## Removing data with conflict classes

In [9]:
def remove_polarity(data):
    filtered_data = []
    for d in data:
        no_conflict = all(asp['polarity'] != 'conflict' for asp in d['aspects'])
        if no_conflict:
            filtered_data.append(d)
    return filtered_data

In [10]:
filtered_train_data = remove_polarity(train_data)
filtered_test_data = remove_polarity(test_data)

In [11]:
len(filtered_train_data)

2853

In [12]:
len(filtered_test_data)

749

## Renaming anecdotes/miscellaneous to others
too long of a name

In [15]:
filtered_train_data[1]

{'id': '2777',
 'text': "To be completely fair, the only redeeming factor was the food, which was above average, but couldn't make up for all the other deficiencies of Teodora.",
 'aspects': [{'aspect': 'food', 'polarity': 'positive'},
  {'aspect': 'anecdotes/miscellaneous', 'polarity': 'negative'}]}

In [19]:
def rename_anecdotes(data):
    filtered_data = []
    for d in data:
        aspects = d['aspects']
        for a in aspects:
            if a['aspect'] == 'anecdotes/miscellaneous':
                a['aspect'] = 'other'
        
        filtered_data.append(d)
    
    return filtered_data

In [20]:
filtered_train_data = rename_anecdotes(filtered_train_data)
filtered_test_data = rename_anecdotes(filtered_test_data)

## Saving filtered data

In [21]:
data_functions.save_jsonl(filtered_test_data, 'data/restaurant_filtered_test.jsonl')
data_functions.save_jsonl(filtered_train_data, 'data/restaurant_filtered_train.jsonl')

Data saved to  data/restaurant_filtered_test.jsonl
Data saved to  data/restaurant_filtered_train.jsonl